


p{color:blue;}

font-size:24pt
color:blue
text-align:center

h1 {
  font: italic 28pt Impact, "Franklin Gothic Bold", "Arial Black", sans-serif;
}


.container{
  float: right;
}

.box{
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}
